.list-container {
  padding: 2rem;
  max-width: 1300px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
}

.filters {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-radius: 0.75rem;
  overflow: hidden;
}

th.mat-header-cell {
  background-color: #f8f8f8;
  font-weight: 600;
}

td.mat-cell,
th.mat-header-cell {
  padding: 1rem;
}

.id-text {
  font-family: monospace;
  font-size: 0.85rem;
  color: #555;
}

::ng-deep .mat-mdc-snack-bar-container.info-toast {
  background: #1976d2;
  color: white;
}

::ng-deep .mat-mdc-snack-bar-container.success-toast {
  background: #388e3c;
  color: white;
}

.copya-btn {
  border: none;
    background: #e9ecef;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}
